<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328480437483-dkgbirkmfgd2pa5c3ts9jnpod1mhajad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328480437483-dkgbirkmfgd2pa5c3ts9jnpod1mhajad</string>
	<key>API_KEY</key>
	<string>AIzaSyBxt9odioXtDKS768NE0GXl8huMCpRCEKI</string>
	<key>GCM_SENDER_ID</key>
	<string>328480437483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>findahomehenry</string>
	<key>STORAGE_BUCKET</key>
	<string>findahomehenry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328480437483:ios:c84fe9687370696786baae</string>
</dict>
</plist>